.container-main-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button button {
    margin: 20px;
    height: 60px;
    width: 160px;

    border-radius: 23px;
    border: none;

    z-index: 1;
    position: relative;
    font-weight: bolder;
    font-size: 1.1em;
    color: #0d6efd;
    outline: none;
    background-color: transparent;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.container-button button span{
    margin: 0 8px;
}
  
.container-button button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #0d6efd;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}
  
.container-button button:hover {
    cursor: pointer;
    color: #161616;
    border: none;
    text-decoration: underline;
}
  
.container-button button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
    border: none;
}

.container-main-form{
    margin: 28px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.container-form{
    width: 500px;
    height: 500px;

    border: .15em solid #144da1;
    border-radius: 26px;
}

@media only screen and (max-width: 560px) {
    .container-form{
        width: 75%;
    }
}

@media only screen and (max-width: 460px) {
    .container-form{
        width: 100%;

        border: none;
    }
}