.my-card{
    box-shadow: 0 0 1rem #0d6efd;
}

#mySpacing{
    min-width: 400px;
}

.container-notification{
    width: 100%;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;

    padding: 20px;
}